patient_distribution.png
patient_distribution_test.png
patient_distribution_train.png
plot_distribution.py
plot_ecgs.py
results
training_run
ecg_inspection_plots
/_BCOSified/finetune_run
finetune_data
calculate_auc.py
ecg_plotter.ipynb
features.csv
interactive_ecg_plotter.py
_AFIB_code/afib_hpo_parallel*
_AFIB_code/mlruns
_AFIB_code/mlflow.db
/_BCOSified/_finetune_model/mlruns/
/_BCOSified/_finetune_model/bcos_finetune_hpo_v1.0.db
_AFIB_code/analyze_afib.py
.vscode